<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Edge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TemplateProjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Edge.Properties.Settings>
            <setting name="ApexUser" serializeAs="String">
                <value />
            </setting>
            <setting name="BudgetLine" serializeAs="String">
                <value />
            </setting>
        </Edge.Properties.Settings>
        <TemplateProjects.Properties.Settings>
            <setting name="ApexUser" serializeAs="String">
                <value/>
            </setting>
        </TemplateProjects.Properties.Settings>
    </userSettings>
</configuration>
